@import "tailwindcss";

@font-face {
  font-family: "Tungsten";
  src: url("../public/assets/fonts/tungsten_font/tungsten-medium.woff2")
      format("woff2"),
    url("../public/assets/fonts/tungsten_font/tungsten-medium.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sequel";
  src: url("../public/assets/fonts/sequel_regular/Sequel-Regular.woff2")
      format("woff2"),
    url("../public/assets/fonts/sequel_regular/Sequel-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lilita";
  src: url("../public/assets/fonts/LilitaOne/LilitaOne.woff2") format("woff2"),
    url("../public/assets/fonts/LilitaOne/LilitaOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --main-font: "Sequel", system-ui, sans-serif;
  --alt-font: "Tungsten", system-ui, sans-serif;
  --primary-color: #f5f5f5;
  --clear-primary: rgba(233, 233, 233, 0.15);
  --secondary-color: #1a1a1a;
  --clear-secondary: rgba(0, 0, 0, 0.53);
  --clear: rgba(233, 233, 233, 0.2);
  --card-bg: #5a5a5a3b;
  --light-bg: radial-gradient(circle, #f5f5f5 60%, #dcdcdc 100%);
  --dark-bg: radial-gradient(circle, #0a0a0a 60%, #141c26 100%);
  --conic-gradient: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--primary-color)
  );
  --box-size: border-box;
  --underline: rgba(123, 123, 123, 0.966);
  --underline2: rgba(123, 123, 123, 1);

  --no-filter: invert(0);
}
* {
  @apply box-border;
}
:root {
  @apply font-[Sequel];
  border-color: #5a5a5a3b;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
  background: var(--light-bg);
  color: var(--secondary-color);
  overflow-x: hidden;
  /*color: rgba(95, 61, 232, 0.53);*/
  /*background: radial-gradient(circle, #0a0a0a 60%, #101e18 100%);*/
}

body.scrolled {
  background: var(--dark-bg);
  color: var(--primary-color);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    width: 0;
    left: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    width: 50vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-loader {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes pulse-nucleus {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 20px #53e1fe, 0 0 40px #8f51ea;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 30px #53e1fe, 0 0 60px #8f51ea;
  }
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }
  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }
  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }
  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

@keyframes rotate4 {
  from {
    transform: rotateX(50deg) rotateZ(470deg);
  }
  to {
    transform: rotateX(50deg) rotateZ(110deg);
  }
}

@keyframes rotate5 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }
}

@keyframes rotate6 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }
}

.infocard.effect::after,
.infocard.effect::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 80%;
  padding: 5px;
  translate: -50% -50%;
  border-radius: 12px;
  z-index: -5;
  opacity: 0;
  animation: spin 3s linear infinite;
  transition: all 0.3s ease-in-out;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    var(--primary-color)
  );
}

.infocard.effect::before {
  filter: blur(1.5rem);
}

.infocard.effect:hover::before,
.infocard.effect:hover::after {
  opacity: 1;
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .translate-z-\[1em\] {
    transform: translateZ(1em);
  }

  .translate-z-\[2em\] {
    transform: translateZ(2em);
  }

  .rotate-x-90 {
    transform: rotateX(90deg);
  }

  .rotate-x-\[-90deg\] {
    transform: rotateX(-90deg);
  }
}
